<div class="page-width">
  <div class="slideContainer">
      <div class="imageContainer1">
          <img src="{{ section.settings.image1 | img_url: 'master'}}" alt=""/>
      </div>
      <div class="imageContainer2">
          <img src="{{ section.settings.image2 | img_url: 'master'}}" alt=""/>
      </div>    
      <div class="imageContainer3">
          <img src="{{ section.settings.image3 | img_url: 'master'}}" alt=""/>
      </div>
      <div class="imageContainer4">
          <img src="{{ section.settings.image4 | img_url: 'master'}}" alt=""/>
      </div>
  </div>  
</div>




<style>

  .slideContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .imageContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .imageContainer img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  @media screen and (min-width: 600px) {
    .imageContainer img {
      width: 200px;
    }
  }

  @media screen and (min-width: 920px) {
  .imageContainer {
    width: inherit;
  }
}
  
</style>

{% schema %}
  {
    "name": "Badge Selector",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name":"Badge Selector"
      }
    ]
  }
{% endschema %}
