<h2>{{ section.settings.heading }}</h2>
<div class="imageContainer">
  <div class="imageContainer.image">
    <img src="{{ block.settings.image | img_url: "master" }}"/>
  </div>
  <h4 class="imageContainer.title"></h4>
  <p class="imageContainer.description"></p>
</div>

<style>
  .imageContainer {
    display: flex;
    gap: 1em;
    justify-content: space-around
  }
</style>

{% schema %}
  {
    "name": "Image Selector",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Custom Heading for Images"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "slide",
        "settings": [
          {
            "type" : "image_picker",
            "id" : "id",
            "label": "Select an Image"
          },
          {
            "type": "text",
            "id" : "title",
            "label" : "Image Title",
            "default" : "Custom Image Title"
          },
          {
            "type": "text",
            "id" : "description",
            "label" : "Image Description",
            "default" : "Custom Image Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Image Selector"
      }
    ]
  }
{% endschema %}
