<div class="page-width">
  <h2>{{ section.settings.heading }}</h2>
  <div class="slideContainer">
    {% for block in section.blocks %}
      <div class="imageContainer">
        <img src="{{ block.settings.image | img_url: 'master'}}" alt=""/>
      </div>
    {% endfor %}
  </div>  
</div>


<style>
  h2 {
    text-align: center;
  }

  .slideContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .imageContainer {
    width: 49%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .imageContainer img {
    width: 150px;
    aspect-ration: 1/1;
    object-fit: cover;
  }

  @media screen and (min-width: 500px) {
  .imageContainer {
    width: inherit;
  }

  .imageContainer img {
    width: 200px;
  }
}
  
</style>

{% schema %}
  {
    "name": "Image Selector",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Custom Heading for Images"
      }
    ],
    "blocks": [
      {
        "type": "Slide",
        "name": "slide",
        "settings" : [
          {
            "type" : "image_picker",
            "id" : "image",
            "label": "Select an Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Image Selector"
      }
    ]
  }
{% endschema %}
